@use '../custom' as *;
@use '../components/mixins' as *;

.wrapper{
  width:100%;
}

.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
  color: #fff;
  text-align: center;
  margin: 10px 0;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.carousel .card-1{
  background: #ed1c24;
  object-fit: contain;
}
.carousel .card-2{
  background: #0072bc;
  object-fit: contain;
}
.carousel .card-3{
  background: #39b54a;
  object-fit: contain;
}

.carousel .card-4{
  background: #f26522;
  object-fit: contain;
}
.carousel .card-5{
  background: #630460;
  object-fit: contain;
}

